<div>

    <h2>Create celebrity</h2>

    <form action="/lab-movies-celebrities/views/celebrities/create" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="occupation">

    <br>

    <label for="catchPhrase">catchPhrase: </label>
    <input type="text" name="catchPrase">

    <br>

    <button>Create</button>
    </form>

</div>